* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
*:hover,
*:focus {
  outline: none;
}
html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}
body {
  width: 100%;
  font-size: 14px;
  min-height: 100vh;
}
img {
  pointer-events: none;
  user-select: none;
}
input {
  -webkit-appearance: none;
}
button {
  user-select: none;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.ico {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  user-select: none;
  pointer-events: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  overflow: hidden;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 999;
}
.header-list {
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 1px solid #F1F1F1;
  display: flex;
  justify-content: space-between;
  padding: 8px 14px;
  pointer-events: all;
}
.header-list.inactive .action-item,
.header-list.inactive .tool-item,
.header-list.inactive .option-item {
  pointer-events: none !important;
}
.header-list .tool ul,
.header-list .action ul,
.header-list .option ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.header-list .tool ul li,
.header-list .action ul li,
.header-list .option ul li {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 22px;
  cursor: pointer;
  pointer-events: all;
}
.header-list .tool ul li:not(.inactive):not(.active):hover,
.header-list .action ul li:not(.inactive):not(.active):hover,
.header-list .option ul li:not(.inactive):not(.active):hover {
  background: rgba(250, 250, 250, 0.95);
}
.header-list .tool ul li:not(.inactive):not(.active):hover.ripple.ripple-active,
.header-list .action ul li:not(.inactive):not(.active):hover.ripple.ripple-active,
.header-list .option ul li:not(.inactive):not(.active):hover.ripple.ripple-active {
  background: rgba(245, 245, 245, 0.95);
}
.header-list .tool ul li.active,
.header-list .action ul li.active,
.header-list .option ul li.active {
  background: rgba(238, 238, 238, 0.95);
}
.header-list .tool ul li.active.ripple.ripple-active,
.header-list .action ul li.active.ripple.ripple-active,
.header-list .option ul li.active.ripple.ripple-active {
  background: rgba(233, 233, 233, 0.95);
}
.header-list .tool ul li.inactive i.ico,
.header-list .action ul li.inactive i.ico,
.header-list .option ul li.inactive i.ico {
  color: #E0E0E0;
}
.header-list .tool ul li i.ico,
.header-list .action ul li i.ico,
.header-list .option ul li i.ico {
  color: #555555;
}
#canvas,
#overlay,
.controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#overlay {
  pointer-events: none;
}
.badge {
  display: inline-block;
  margin-top: -1px;
  margin-left: 5px;
  padding: 2px 4px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  color: white !important;
}
.badge.prime {
  background: #0372EF;
}
.badge.beta {
  background: #388E3C;
}
.button {
  display: block;
  height: 44px;
  padding: 0 22px;
  border: none;
  border-radius: 4px;
  background: #F5F5F5;
  color: #24292E;
  font-size: 16px;
}
.button:hover.ripple-active {
  background: #f0f0f0;
}
.button.outline {
  border: 1px solid #F1F1F1;
  background: transparent;
}
.button.outline:hover.ripple-active {
  background: #fafafa;
}
.button.prime {
  background: #0372EF;
  color: white;
}
.button.prime:hover.ripple-active {
  background: #036de5;
}
.button.danger {
  background: #E53935;
  color: white;
}
.button.danger:hover.ripple-active {
  background: #e4302c;
}
.controls {
  pointer-events: none;
}
.controls .notification {
  top: 90px;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0;
}
.controls .notification p {
  display: inline-block;
  padding: 10px 24px;
  border-radius: 999px;
  background: #24292E;
  color: white;
  opacity: 0.95;
  user-select: none;
  pointer-events: none;
}
.controls .hotbar {
  display: flex;
  position: fixed;
  left: calc(50% - 216px);
  bottom: 30px;
  z-index: -1;
}
.controls .hotbar.inactive .color {
  pointer-events: none !important;
}
.controls .hotbar .color {
  margin: 6px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #EEE;
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(0.9);
  pointer-events: all;
}
.controls .hotbar .color:not(.active):hover {
  transform: scale(1);
}
.controls .hotbar .color.focus {
  transform: scale(1);
}
.controls .hotbar .color.active {
  transform: scale(1.1);
}
.controls .pencil-modal {
  top: 75px;
  left: 120px;
}
.controls .scale-modal {
  top: 75px;
  left: 70px;
  width: 400px;
  height: 60px;
}
.controls .scale-modal input[type="range"] {
  -webkit-appearance: none;
  width: calc(400px - 54px);
  margin-top: 21px;
  margin-left: 27px;
  height: 6px;
  background: #EEEEEE;
  border: none;
  border-radius: 4px;
}
.controls .scale-modal input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
}
.controls .scale-modal input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  background: #9E9E9E;
  border-radius: 10px;
  cursor: pointer;
}
.controls .scale-modal input[type="range"]::-webkit-slider-thumb:hover {
  background: #757575;
}
.controls .clear-modal {
  top: calc(50% - 75.5px);
  left: calc(50% - 200px);
  width: 400px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.controls .clear-modal .info {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
  color: #24292E;
  user-select: none;
}
.controls .clear-modal .align {
  display: flex;
  gap: 25px;
}
.controls .clear-modal .align .btn-cancel {
  width: 185px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 17px;
}
.controls .clear-modal .align .btn-apply {
  width: 185px;
  height: 50px;
  border: none;
  border-radius: 3px;
  border-color: grey;
  font-size: 17px;
}
.controls .capture-modal {
  top: calc(50% - 213px);
  left: calc(50% - 200px);
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.controls .capture-modal .info {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  color: #24292E;
  user-select: none;
}
.controls .capture-modal .preview {
  height: 250px;
  background: #F5F5F5;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  margin-bottom: 25px;
}
.controls .capture-modal .align {
  display: flex;
  gap: 25px;
}
.controls .capture-modal .align .btn-cancel {
  width: 185px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 17px;
}
.controls .capture-modal .align .btn-apply {
  width: 185px;
  height: 50px;
  border: none;
  border-radius: 3px;
  border-color: grey;
  font-size: 17px;
}
.controls .colors-modal {
  flex-wrap: wrap;
  min-width: 410px;
  width: 410px;
  max-width: 410px;
  padding: 30px !important;
  top: 75px;
  left: 15px;
  display: flex;
  gap: 12px;
}
.controls .colors-modal .color {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #EEE;
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(0.9);
}
.controls .colors-modal .color:not(.active):hover {
  transform: scale(1);
}
.controls .colors-modal .color.active {
  transform: scale(1.1);
}
.controls .colors-modal .color.focus {
  transform: scale(1);
}
.controls .multiplayer-modal {
  top: 75px;
  right: 130px;
}
.controls .account-modal {
  top: 75px;
  right: 80px;
}
.controls .more-modal {
  top: 75px;
  right: 20px;
}
.modal {
  width: 250px;
  position: fixed;
  background: white;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
  padding: 6px 0;
  pointer-events: all;
  overflow: hidden;
  z-index: -1;
  display: flex;
}
.modal .main {
  width: 248px;
  min-width: 248px;
  7max-width: 248px;
}
.modal ul.tab-list {
  width: 248px;
  min-width: 248px;
  max-width: 248px;
}
.modal .header {
  display: flex;
  margin-bottom: 3px;
}
.modal .header .back {
  margin: 10px;
  margin-top: 15px;
  margin-right: 3px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  padding: 6px;
  padding-left: 5px;
  cursor: pointer;
}
.modal .header .back i.ico {
  color: #424242;
}
.modal .header .back:hover {
  background: #FAFAFA;
}
.modal .header .back.ripple.ripple-active {
  background: #f5f5f5;
}
.modal .header .info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.modal .header .info p {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #555555;
  user-select: none;
  pointer-events: none;
}
.modal .header .info span {
  display: block;
  margin-top: 3px;
  font-size: 12px;
  color: #9E9E9E;
  user-select: none;
  pointer-events: none;
}
.modal ul.item-list .separator {
  margin: 6px 0;
  width: 100%;
  height: 1px;
  background: #F1F1F1;
}
.modal ul.item-list li.caption {
  padding: 2px 15px;
  padding-top: 12px;
  list-style: none;
}
.modal ul.item-list li.caption p {
  color: #9E9E9E;
  user-select: none;
  pointer-events: none;
}
.modal ul.item-list li.item {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.modal ul.item-list li.item.empty p {
  display: block;
  width: 100%;
  color: #9E9E9E;
  text-align: center;
  user-select: none;
  pointer-events: none;
}
.modal ul.item-list li.item:not(.active):not(.inactive):hover {
  background: #FAFAFA;
}
.modal ul.item-list li.item:not(.active):not(.inactive).ripple.ripple-active {
  background: #f5f5f5;
}
.modal ul.item-list li.item i.ico {
  color: #555555;
  user-select: none;
  pointer-events: none;
}
.modal ul.item-list li.item i.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  width: 24px;
  height: 24px;
  color: #555555;
  user-select: none;
  pointer-events: none;
}
.modal ul.item-list li.item .info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  max-width: calc(100% - 24px - 10px);
}
.modal ul.item-list li.item .info p {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #555555;
  user-select: none;
  pointer-events: none;
}
.modal ul.item-list li.item .info span {
  display: block;
  margin-top: 3px;
  font-size: 12px;
  color: #9E9E9E;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal ul.item-list li.item.active {
  background: #EEEEEE;
}
.modal ul.item-list li.item.active.ripple.ripple-active {
  background: #e9e9e9;
}
.modal ul.item-list li.item.inactive i.ico {
  color: #E0E0E0;
}
.modal ul.item-list li.item.inactive .info p {
  color: #9E9E9E;
}
.modal ul.item-list li.item.inactive .info span {
  color: #9E9E9E;
}
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip:hover::before {
  opacity: 0.95;
  transition-delay: 0.6s;
}
.tooltip:hover::after {
  opacity: 0.95;
  transition-delay: 0.6s;
}
.tooltip::after {
  display: flex;
  opacity: 0;
  content: attr(data-title);
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #24292E;
  color: white;
  min-height: 24px;
  padding: 0 12px;
  border-radius: 999px;
  font-size: 12px;
  top: auto;
  bottom: -64%;
  white-space: nowrap;
  z-index: 9999;
  pointer-events: none;
}
