@media(prefers-color-scheme: dark) {

	@brand-dark: #333C41;
	@brand-light: #E0E0E0;
	@brand-night: #2D353A;
	@brand-grey: #828282;

	/* ### Home ### */

	body.home {
		background: @brand-dark;

		header {
			background-image: url('../asset/img/background-dark.png');

			.brand-logo {

				a {
					background-image: url('../asset/img/brand-logo-dark.png');
				}
			}

			.logo {
				background-image: url('../asset/img/logo-dark.png');
				background-position: center;
			}

			h1.headline {
				color: white;
			}

			p.description {
				color: @brand-light;

				b {
					color: @brand-blue;
				}
			}
		}

		main {
			background: @brand-dark;
		}

		footer {
			background: @brand-night;

			.footer-item {
				color: darken(@brand-light, 20%);
			}
		}

		button.button {

			&.button-prime {
				background: @brand-blue;
				color: white;

				&:hover {
					background: darken(@brand-blue, 2%);
				}
			}

			&.button-default {
				background: darken(@brand-night, 7%);
				color: @brand-light;

				&:hover {
					background: darken(@brand-night, 8%);
					color: lighten(@brand-light, 10%);
				}
			}

			&.button-prime-light {
				background: rgba(@brand-blue, 0.1);
				color: lighten(@brand-blue, 8%);

				&:hover {
					background: rgba(@brand-blue, 0.13);
					color: lighten(@brand-blue, 12%);
				}
			}
		}

		.badge-version {
			background: @brand-night;
			color: @brand-light;
		}

		.caption {

			h2.caption-headline {
				color: white;

				b {
					color: @brand-blue;
				}
			}

			.caption-info {

				p {
					color: @brand-light;
				}
			}
		}
	}

	/* ### App ### */

	.wrapper {
		background: white;
	}

	.header-list {
		background: @brand-dark;
		border-bottom: 1px solid @brand-dark;

		.mainbar,
		.sidebar {

			.tool,
			.action,
			.option {

				ul {

					li {

						&:not(.inactive):not(.active):hover {
							background: rgba(@brand-night, 0.95);

							&.ripple {

								&.ripple-active {
									background: lighten(rgba(@brand-night, 0.95), -2%);
								}
							}
						}

						&.active {
							background: rgba(@brand-night, 0.95);

							&.ripple {

								&.ripple-active {
									background: lighten(rgba(@brand-night, 0.95), -2%);
								}
							}
						}

						&.inactive {

							i.ico {
								color: @brand-grey;

								svg {

									path {
										fill: @brand-grey;
									}
								}
							}
						}

						i.ico {
							color: @brand-light;

							svg {

								path {
									fill: @brand-light;
								}
							}
						}
					}
				}
			}
		}
	}

	.badge {

		&.prime {
			background: @brand-blue;
		}

		&.beta {
			background: @brand-green;
		}
	}

	.key {
		color: @brand-grey-2;
		background: @brand-grey-7;
		border: 1px solid @brand-grey-4;
	}

	.button {
		background: darken(@brand-night, 4%);
		color: @brand-light;

		&:hover {

			&.ripple-active {
				background: darken(@brand-night, 5%);
			}
		}

		&.outline {
			border: 1px solid @brand-grey-5;

			&:hover {

				&.ripple-active {
					background: lighten(white, -2%);
				}
			}
		}

		&.prime {
			background: @brand-blue;
			color: white;

			&:hover {

				&.ripple-active {
					background: lighten(@brand-blue, -2%);
				}
			}
		}

		&.danger {
			background: @brand-red;
			color: white;

			&:hover {

				&.ripple-active {
					background: lighten(@brand-red, -2%);
				}
			}
		}
	}

	.notification {

		p {
			background: @brand-black;
			color: white;
		}
	}

	.controls {

		.hotbar {

			.color {
				background: @brand-bright;
			}
		}

		.scale-modal {

			input[type="range"] {
	    		background: @brand-grey-1;

				&::-webkit-slider-thumb {
					background: @brand-grey-3;

					&:hover {
						background: darken(@brand-grey-3, 2%);
					}
				}
			}
		}

		.clear-modal {

			.info {
				color: @brand-light;
			}

			.align {

				.btn-apply {
					border-color: grey;
				}
			}
		}

		.colors-modal {

			&::-webkit-scrollbar-thumb {
				background: @brand-night;

				&:hover,
				&:active {
					background: darken(@brand-night, 2%);
				}
			}

			.color {
				background: @brand-bright;
			}
		}
	}

	.modal {
		background: @brand-dark;
		border: 1px solid @brand-dark;

		.header {

			.back {

				i.ico {
					color: @brand-light;
				}

				&:hover {
					background: @brand-night;
				}

				&.ripple {

					&.ripple-active {
						background: lighten(@brand-night, -2%);
					}
				}
			}

			.info {

				p {
					color: @brand-light;
				}

				span {
					color: @brand-grey-3;
				}
			}
		}

		ul.item-list {

			.separator {
				background: lighten(@brand-dark, 5%);
			}

			li.caption {

				p {
					color: @brand-grey-3;
				}
			}

			li.item {

				&.empty {

					p {
						color: @brand-light;
					}
				}

				&:not(.active):not(.inactive) {

					&:hover {
						background: lighten(@brand-dark, -2%);
					}

					&.ripple {

						&.ripple-active {
							background: lighten(@brand-dark, -2%);
						}
					}
				}

				i.ico {
					color: @brand-light;

					svg {

						path {
							fill: @brand-light;
						}
					}
				}

				i.lang {
					color: @brand-light;
				}

				.info {

					p {
						color: @brand-light;
					}

					span {
						color: @brand-grey-3;
					}
				}

				&.active {
					background: @brand-night;

					&.ripple {

						&.ripple-active {
							background: lighten(@brand-night, -2%);
						}
					}
				}

				&.inactive {

					i.ico {
						color: @brand-grey-3;
					}

					.info {

						p {
							color: @brand-grey-3;
						}

						span {
							color: @brand-grey-3;
						}
					}
				}
			}
		}
	}
}
