/* ### App ### */
html,
body {

	&.app {
		overflow: hidden;
	}
}

a#download {
	opacity: 0;
	width: 0;
	height: 0;
	user-select: none;
	pointer-events: none;
}

.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	z-index: 999;
}

.header-list {
	width: 100%;
	height: 60px;
	background: white;
	border-bottom: 1px solid @brand-grey-5;
	display: flex;
	flex-direction: column;
	pointer-events: all;

	.mainbar,
	.sidebar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 8px 14px;
		min-height: 60px;
		height: 60px;

		&.inactive {

			.action-item,
			.tool-item,
			.option-item {
				pointer-events: none !important;
			}
		}

		.tool,
		.action,
		.option {

			ul {
				list-style-type: none;
				display: flex;
				gap: 10px;

				li {
					width: 44px;
					height: 44px;
					padding: 10px;
					border-radius: 22px;
					cursor: pointer;
					pointer-events: all;

					&.placeholder {
						pointer-events: none;
					}

					&:not(.inactive):not(.active):hover {
						background: rgba(@brand-grey-7, 0.95);

						&.ripple {

							&.ripple-active {
								background: lighten(rgba(@brand-grey-7, 0.95), -2%);
							}
						}
					}

					&.active {
						background: rgba(#EEEEEE, 0.95);

						&.ripple {

							&.ripple-active {
								background: lighten(rgba(#EEEEEE, 0.95), -2%);
							}
						}
					}

					&.inactive {

						i.ico {
							color: @brand-grey-4;
						}
					}

					i.ico {
						color: @brand-grey-1;
					}
				}
			}
		}
	}
}

#canvas,
#overlay,
.controls {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#overlay {
	pointer-events: none;
}

.badge {
	display: inline-block;
	margin-top: -1px;
	margin-left: 5px;
	padding: 2px 4px;
	border-radius: 2px;
	font-weight: 500;
	font-size: 12px;
	color: white !important;

	&.prime {
		background: @brand-blue;
	}

	&.beta {
		background: @brand-green;
	}
}

.key {
	display: inline-block;
	padding: 3px 8px;
	border-radius: 3px;
	color: @brand-grey-2;
	font-weight: 500;
	background: @brand-grey-7;
	border: 1px solid @brand-grey-4;

	&.round {
		border-radius: 999px;
	}

	&.ico {
		padding: 2px;
		max-width: 28px;
		max-height: 27px;
		display: flex;
		justify-content: center;
		align-items: center;

		i.ico {
			padding: 2px;
			max-width: 28px;
		}
	}
}

.button {
	display: block;
	height: 44px;
	padding: 0 22px;
	border: none;
	border-radius: 4px;
	background: @brand-grey-6;
	color: @brand-black;
	font-size: 16px;

	&:hover {

		&.ripple-active {
			background: lighten(@brand-grey-6, -2%);
		}
	}

	&.outline {
		border: 1px solid @brand-grey-5;
		background: transparent;

		&:hover {

			&.ripple-active {
				background: lighten(white, -2%);
			}
		}
	}

	&.prime {
		background: @brand-blue;
		color: white;

		&:hover {

			&.ripple-active {
				background: lighten(@brand-blue, -2%);
			}
		}
	}

	&.danger {
		background: @brand-red;
		color: white;

		&:hover {

			&.ripple-active {
				background: lighten(@brand-red, -2%);
			}
		}
	}
}

.notification {
	top: 90px;
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100%;
	opacity: 0;
	text-align: center;
	padding: 0 30px;

	p {
		display: inline-block;
		padding: 10px 24px;
		border-radius: 24px;
		background: @brand-black;
		color: white;
		opacity: 0.95;
		user-select: none;
		pointer-events: none;
	}
}

.controls {
	pointer-events: none;

	.hotbar {
		display: flex;
		position: fixed;
		left: calc(50% - 216px);
		bottom: 30px;
		z-index: -1;

		&.inactive {

			.color {
				pointer-events: none !important;
			}
		}

		.color {
			margin: 6px;
			width: 60px;
			height: 60px;
			border-radius: 30px;
			background: #EEE;
			cursor: pointer;
			transition: transform 0.2s;
			transform: scale(0.9);
			pointer-events: all;

			&:not(.active):hover {
				transform: scale(1);
			}

			&.focus {
				transform: scale(1);
			}

			&.active {
				transform: scale(1.1);
			}
		}
	}

	.pencil-modal {
		top: 75px;
		left: 120px;
	}

	.scale-modal {
		top: 75px;
		left: 70px;
		width: 400px;
		height: 60px;

		input[type="range"] {
			-webkit-appearance: none;
			width: calc(400px - 54px);
			margin-top: 21px;
			margin-left: 27px;
			height: 6px;
    		background: #EEEEEE;
    		border: none;
    		border-radius: 4px;

			&::-webkit-slider-runnable-track {
				-webkit-appearance: none;
			}

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				height: 20px;
				width: 20px;
				margin-top: -0px;
				background: @brand-grey-3;
				border-radius: 10px;
				cursor: pointer;

				&:hover {
					background: @brand-grey-2;
				}
			}
		}
	}

	.clear-modal {
		top: calc(50% - 75.5px);
		left: calc(50% - 175px);
		width: 350px;
		padding: 25px;
		display: flex;
		flex-direction: column;

		.info {
			width: 100%;
			font-size: 20px;
			text-align: center;
			margin-bottom: 25px;
			color: @brand-black;
			user-select: none;
		}

		.align {
			display: flex;
			gap: 15px;

			.btn-cancel {
				width: 50%;
				height: 48px;
				border: none;
				border-radius: 3px;
				font-size: 16px;
				padding-top: 1px;
			}

			.btn-apply {
				width: 50%;
				height: 48px;
				border: none;
				border-radius: 3px;
				border-color: grey;
				font-size: 16px;
				padding-top: 1px;
			}
		}
	}

	.capture-modal {
		top: 75px;
		left: 15px;
	}

	.colors-modal {
		flex-wrap: wrap;
		min-width: 418px;
		width: 418px;
		max-width: 418px;
		padding: 30px !important;
		top: 75px;
		left: 15px;
		display: flex;
		gap: 12px;
		max-height: calc(100vh - 90px);
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-thumb {
			width: 8px;
			background: @brand-grey-5;

			&:hover,
			&:active {
				background: @brand-grey-4;
			}
		}

		.color {
			width: 60px;
			height: 60px;
			border-radius: 30px;
			background: #EEE;
			cursor: pointer;
			transition: transform 0.2s;
			transform: scale(0.9);

			&:not(.active):hover {
				transform: scale(1);
			}

			&.active {
				transform: scale(1.1);
			}

			&.focus {
				transform: scale(1);
			}
		}
	}

	.multiplayer-modal {
		top: 75px;
		right: 120px;
	}

	.account-modal {
		top: 75px;
		right: 70px;
	}

	.more-modal {
		top: 75px;
		right: 15px;
	}

	.help-modal {
		top: calc(50% - 250px);
		left: calc(50% - 400px);
		width: 800px;
		height: 500px;
		display: flex;
		padding: 0;

		.side {
			border-right: 1px solid @brand-grey-5;
			width: 230px;
			min-width: 230px;
			overflow: hidden;

			ul.item-list {
				width: 100%;
				padding: 6px 0;

				li.item {
					display: flex;
					flex-direction: column;

					 .info {
						 font-size: 16px;
						 width: 100%;
						 max-width: 100%;
						 margin-left: 0;
					 }
				}
			}
		}

		.content {
			padding: 6px 0;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 8px;
			}

			&::-webkit-scrollbar-thumb {
				width: 8px;
				background: @brand-grey-5;

				&:hover,
				&:active {
					background: @brand-grey-4;
				}
			}

			ul.content-list {
				list-style-type: none;
				pointer-events: none;

				li.content-item {
					pointer-events: none;
					padding: 15px 20px;
					padding-top: 25px;

					p {
						font-size: 16px;
						color: @brand-grey-2;
						line-height: 20px;
						user-select: none;
						pointer-events: none;
						margin-bottom: 40px;
					}

					h2 {
						font-size: 24px;
						font-weight: 500;
						margin-bottom: 20px;
						user-select: none;
						pointer-events: none;
						color: @brand-grey-1;
					}

					h3 {
						font-size: 22px;
						font-weight: 500;
						margin-bottom: 20px;
						user-select: none;
						pointer-events: none;
						color: @brand-grey-1;
					}
				}
			}
		}
	}
}

.modal {
	width: 250px;
	position: fixed;
	background: white;
	border: 1px solid @brand-grey-5;
	border-radius: 4px;
	padding: 6px 0;
	pointer-events: all;
	overflow: hidden;
	z-index: -1;
	display: flex;

	.main {
		width: 248px;
		min-width: 248px;7
		max-width: 248px;
	}

	ul.tab-list {
		width: 248px;
		min-width: 248px;
		max-width: 248px;
	}

	.header {
		display: flex;
		margin-bottom: 3px;

		.back {
			margin: 10px;
			margin-top: 15px;
			margin-right: 3px;
			width: 36px;
			height: 36px;
			border-radius: 18px;
			padding: 6px;
			padding-left: 5px;
			cursor: pointer;

			i.ico {
				color: @brand-grey-0;
			}

			&:hover {
				background: @brand-grey-7;
			}

			&.ripple {

				&.ripple-active {
					background: lighten(@brand-grey-7, -2%);
				}
			}
		}

		.info {
			display: flex;
			flex-direction: column;
			margin-top: 15px;
			max-width: calc(100% - 24px - 10px - 35px);

			p {
				display: flex;
				align-items: center;
				font-weight: 500;
				color: @brand-grey-1;
				user-select: none;
				pointer-events: none;
			}

			span {
				display: block;
				margin-top: 3px;
				font-size: 12px;
				color: @brand-grey-3;
				user-select: none;
				pointer-events: none;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	ul.item-list {

		.separator {
			margin: 6px 0;
			width: 100%;
			height: 1px;
			background: @brand-grey-5;
		}

		li.caption {
			padding: 2px 15px;
			padding-top: 12px;
			list-style: none;

			p {
				color: @brand-grey-3;
				user-select: none;
				pointer-events: none;
			}
		}

		li.item {
			display: flex;
			align-items: center;
			padding: 15px;
			cursor: pointer;

			&.empty {

				p {
					display: block;
					width: 100%;
					color: @brand-grey-3;
					text-align: center;
					user-select: none;
					pointer-events: none;
				}
			}

			&:not(.active):not(.inactive) {

				&:hover {
					background: @brand-grey-7;
				}

				&.ripple {

					&.ripple-active {
						background: lighten(@brand-grey-7, -2%);
					}
				}
			}

			i.ico {
				color: @brand-grey-1;
				user-select: none;
				pointer-events: none;
			}

			i.lang {
				display: flex;
				justify-content: center;
				align-items: center;
				font-style: normal;
				font-weight: 600;
				width: 24px;
				height: 24px;
				color: @brand-grey-1;
				user-select: none;
				pointer-events: none;
			}

			.info {
				display: flex;
				flex-direction: column;
				margin-left: 10px;
				max-width: calc(100% - 24px - 10px);

				p {
					display: flex;
					align-items: center;
					font-weight: 500;
					color: @brand-grey-1;
					user-select: none;
					pointer-events: none;
				}

				span {
					display: block;
					margin-top: 3px;
					font-size: 12px;
					color: @brand-grey-3;
					user-select: none;
					pointer-events: none;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			&.active {
				background: #EEEEEE;

				&.ripple {

					&.ripple-active {
						background: lighten(#EEEEEE, -2%);
					}
				}
			}

			&.inactive {

				i.ico {
					color: @brand-grey-4;
				}

				.info {

					p {
						color: @brand-grey-3;
					}

					span {
						color: @brand-grey-3;
					}
				}
			}
		}
	}
}

/* ### Home ### */
body.home {

	.notification {
		top: 50px;
		z-index: 2;

		p.content {
			padding: 10px 16px;
			border-radius: 10px;
		}
	}

	.row {
		display: flex;
		justify-content: center;
		gap: 60px;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
	}

	header {
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
		height: calc(100vh - 54px);
		min-height: 750px;
		padding: 0 50px;

		.container {
			// margin-top: -10vh;

			.header-info {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	main {
		padding: 0 50px;

		.container {
			display: flex;
			flex-direction: column;
			gap: 100px;
			padding: 200px 0;
		}
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 54px;
		padding: 0 30px;

		.footer-item {
			font-size: 16px;
		}

		a.footer-item {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.footer-group {
			display: flex;
			gap: 25px;
		}
	}

	.brand-logo {
		display: none;
		position: fixed;
		top: 50px;
		left: 50px;

		a {
			display: inline-block;
			width: 44px;
			height: 44px;
		}
	}

	.logo {
		width: 200px;
		height: 200px;
		min-width: 200px;
		min-height: 200px;
		max-width: 200px;
		max-height: 200px;
		border-radius: 100px;
		box-shadow: 0 0 15px 0px rgba(black, 0.1);
		margin: 0 auto;
		margin-bottom: 35px;
	}

	h1.headline {
		font-size: 70px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 15px;
	}

	p.description {
		font-size: 20px;
		font-weight: 400;
		text-align: center;
		max-width: 550px;
		margin-bottom: 20px;
		line-height: 28px;

		b {
			font-weight: inherit;
		}
	}

	.badge-version {
		margin-bottom: 60px;
	}
}

.cookie {
	display: flex;
	position: fixed;
	bottom: 43px;
	align-items: center;
	justify-content: space-between;
	padding: 14px 24px;
	background: @brand-blue;
	border-radius: 4px;
	width: 800px;
	border: 1px solid @brand-blue;
	z-index: 999;
	left: calc(50vw - 400px);
	gap: 20px;

	p {
		font-size: 16px;
		color: white;
		user-select: none;
		pointer-events: none;
		align-content: flex-start;
		line-height: 24px;
	}

	button.button.accept {
		font-size: 16px;
		font-weight: 500;
		color: white;
		white-space: nowrap;
		user-select: none;
		background: inherit;

		&:hover {
			background: rgba(black, 0.05);
		}
	}

	.group {
		display: inline-flex;
		align-items: center;
		gap: 15px;
	}

	a {
		font-size: 16px;
		color: white;
		white-space: nowrap;
		user-select: none;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
