@brand-blue: #0372EF;
@brand-green: #388E3C;
@brand-red: #E53935;
@brand-black: #24292E;

@brand-grey-0: #424242;
@brand-grey-1: #555555;
@brand-grey-2: #757575;
@brand-grey-3: #9E9E9E;
@brand-grey-4: #E0E0E0;
@brand-grey-5: #F1F1F1;
@brand-grey-6: #F5F5F5;
@brand-grey-7: #FAFAFA;
