.tooltip {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {

		&::before {
			opacity: 0.95;
			transition-delay: 0.6s;
		}

		&::after {
			opacity: 0.95;
			transition-delay: 0.6s;
		}
	}

	&::after {
		display: flex;
		opacity: 0;
		content: attr(data-title);
		justify-content: center;
		align-items: center;
		position: absolute;
		background: @brand-black;
		color: white;
		min-height: 24px;
		padding: 0 12px;
		border-radius: 999px;
		font-size: 12px;
		top: auto;
		bottom: -70%;
		white-space: nowrap;
		z-index: 9999;
		pointer-events: none;
	}

	&.up {

		&::before {
			top: ~'calc(-90% + 26px)';
			bottom: auto;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid @brand-black;
			border-bottom: none;
		}

		&::after {
			top: -60%;
			bottom: auto;
		}
	}

	&.down {

		&::before {
			top: auto;
			bottom: ~'calc(-90% + 26px)';
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: none;
			border-bottom: 6px solid @brand-black;
		}

		&::after {
			top: auto;
			bottom: -60%;
		}
	}
}
