* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;

	&:hover,
	&:focus {
		outline: none;
	}
}

html {
	position: relative;
	width: 100vw;
	heigth: 100vh;
	overflow: hidden;
	touch-action: manipulation;
}

body {
	width: 100%;
	font-size: 14px;
}

img {
	pointer-events: none;
	user-select: none;
}

a {
	color: blue;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
		color: blue;
	}
}

input {
	-webkit-appearance: none;
}

@screen-xx: 425px;
@screen-xs: 576px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

.gutter(@unit) {

	[class*="col"],
	.col-auto,
	.container,
	.container-fluid {
		padding-left: @unit;
		padding-right: @unit;
	}

	.col-auto-out {
		margin-left: @unit;
		margin-right: @unit;
	}

	.row {
		margin-left: -@unit;
		margin-right: -@unit;
	}
}
